In [1]:
import pandas as pd

In [32]:
df = pd.read_csv(r"dataset\train_data.txt", delimiter="\t")
data = pd.DataFrame(df)
data

      1 ::: Oscar et la dame rose (2009) ::: drama ::: Listening in to a conversation between his doctor and parents, 10-year-old Oscar learns what nobody has the courage to tell him. He only has a few weeks to live. Furious, he refuses to speak to anyone except straight-talking Rose, the lady in pink he meets on the hospital stairs. As Christmas approaches, Rose uses her fantastical experiences as a professional wrestler, her imagination, wit and charm to allow Oscar to live life and love to the full, in the company of his friends Pop Corn, Einstein, Bacon and childhood sweetheart Peggy Blue.
0      2 ::: Cupid (1997) ::: thriller ::: A brother ...
1      3 ::: Young, Wild and Wonderful (1980) ::: adu...
2      4 ::: The Secret Sin (1915) ::: drama ::: To h...
3      5 ::: The Unrecovered (2007) ::: drama ::: The...
4      6 ::: Quality Control (2011) ::: documentary :...
...                                                  ...
54208  54210 ::: "Bonino" (1953) ::: comedy ::: This ...
54209  54211 ::: Dead Girls Don't Cry (????) ::: horr...
54210  54212 ::: Ronald Goedemondt: Ze bestaan echt (...
54211  54213 ::: Make Your Own Bed (1944) ::: comedy ...
54212  54214 ::: Nature's Fury: Storm of the Century ...

[54213 rows x 1 columns]

In [33]:
# Read and display the first few lines
with open(r"D:\online dataset\projects\Genre Classification Dataset\dataset\train_data.txt", "r", encoding="utf-8") as file:
    for i in range(5):  # Print first 5 lines
        print(file.readline().strip())

1 ::: Oscar et la dame rose (2009) ::: drama ::: Listening in to a conversation between his doctor and parents, 10-year-old Oscar learns what nobody has the courage to tell him. He only has a few weeks to live. Furious, he refuses to speak to anyone except straight-talking Rose, the lady in pink he meets on the hospital stairs. As Christmas approaches, Rose uses her fantastical experiences as a professional wrestler, her imagination, wit and charm to allow Oscar to live life and love to the full, in the company of his friends Pop Corn, Einstein, Bacon and childhood sweetheart Peggy Blue.
2 ::: Cupid (1997) ::: thriller ::: A brother and sister with a past incestuous relationship have a current murderous relationship. He murders the women who reject him and she murders the women who get too close to him.
3 ::: Young, Wild and Wonderful (1980) ::: adult ::: As the bus empties the students for their field trip to the Museum of Natural History, little does the tour guide suspect that the students are there for more than just another tour. First, during the lecture films, the coeds drift into dreams of the most erotic fantasies one can imagine. After the films, they release the emotion of the fantasies in the most erotic and uncommon ways. One slips off to the curator's office for a little "acquisition. " Another finds the anthropologist to see what bones can be identified. Even the head teacher isn't immune. Soon the tour is over, but as the bus departs, everyone admits it was quite an education.
4 ::: The Secret Sin (1915) ::: drama ::: To help their unemployed father make ends meet, Edith and her twin sister Grace work as seamstresses . An invalid, Grace falls prey to the temptations of Chinatown opium and becomes an addict, a condition worsened by a misguided physician who prescribes morphine to ease her pain. When their father strikes oil, the family enjoys a new prosperity and the sisters meet the eligible Jack Herron, a fellow oil prospector. To Grace's shock, Jack falls in love with Edith and in her jealousy, Grace tells Jack that Edith, not she, has a drug problem. Hinting that her sister will soon need more morphine, Grace arranges for a dinner in Chinatown with the couple. While her sister and Jack dance, Grace slips away to an opium den. Edith follows her, but ends up in the wrong den and is arrested in an ensuing drug raid. After he bails her out of jail, Edith takes an angry Jack to search for Grace and stumbles across her half-conscious body lying in the street. The truth about the sisters is revealed, and after sending Grace to a sanitarium in the country, Jack and Edith are married.
5 ::: The Unrecovered (2007) ::: drama ::: The film's title refers not only to the un-recovered bodies at ground zero, but also to the state of the nation at large. Set in the hallucinatory period of time between September 11 and Halloween of 2001, The Unrecovered examines the effect of terror on the average mind, the way a state of heightened anxiety and/or alertness can cause the average person to make the sort of imaginative connections that are normally made only by artists and conspiracy theorists-both of whom figure prominently in this film. The Unrecovered explores the way in which irony, empathy, and paranoia relate to one another in the wake of 9/11.

In [34]:
import pandas as pd

# Read the text file
file_path = r"D:\online dataset\projects\Genre Classification Dataset\dataset\train_data.txt"

# Load data and split using ':::'
data = []
with open(file_path, "r", encoding="utf-8") as file:
    for line in file:
        parts = line.strip().split(" ::: ")  # Split the line by ':::'
        if len(parts) == 4:  # Ensure the correct number of columns
            index, title, genre, plot = parts
            data.append([title, genre, plot])

# Create a DataFrame
df = pd.DataFrame(data, columns=["Title", "Genre", "Plot"])

# Display the first few rows
df

,Title,Genre,Plot
0,Oscar et la dame rose (2009),drama,Listening in to a conversation between his doc...
1,Cupid (1997),thriller,A brother and sister with a past incestuous re...
2,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fiel...
3,The Secret Sin (1915),drama,To help their unemployed father make ends meet...
4,The Unrecovered (2007),drama,The film's title refers not only to the un-rec...
...,...,...,...
54209,"""Bonino"" (1953)",comedy,This short-lived NBC live sitcom centered on B...
54210,Dead Girls Don't Cry (????),horror,The NEXT Generation of EXPLOITATION. The siste...
54211,Ronald Goedemondt: Ze bestaan echt (2008),documentary,"Ze bestaan echt, is a stand-up comedy about gr..."
54212,Make Your Own Bed (1944),comedy,Walter and Vivian live in the country and have...
54213,Nature's Fury: Storm of the Century (2006),history,"On Labor Day Weekend, 1935, the most intense h..."

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54214 entries, 0 to 54213
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   54214 non-null  object
 1   Genre   54214 non-null  object
 2   Plot    54214 non-null  object
dtypes: object(3)
memory usage: 1.2+ MB

In [36]:
df.head()

,Title,Genre,Plot
0,Oscar et la dame rose (2009),drama,Listening in to a conversation between his doc...
1,Cupid (1997),thriller,A brother and sister with a past incestuous re...
2,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fiel...
3,The Secret Sin (1915),drama,To help their unemployed father make ends meet...
4,The Unrecovered (2007),drama,The film's title refers not only to the un-rec...

In [37]:
df.tail()

,Title,Genre,Plot
54209,"""Bonino"" (1953)",comedy,This short-lived NBC live sitcom centered on B...
54210,Dead Girls Don't Cry (????),horror,The NEXT Generation of EXPLOITATION. The siste...
54211,Ronald Goedemondt: Ze bestaan echt (2008),documentary,"Ze bestaan echt, is a stand-up comedy about gr..."
54212,Make Your Own Bed (1944),comedy,Walter and Vivian live in the country and have...
54213,Nature's Fury: Storm of the Century (2006),history,"On Labor Day Weekend, 1935, the most intense h..."

In [38]:
df.shape

(54214, 3)

In [39]:
df.size

162642

In [40]:
df.describe()

,Title,Genre,Plot
count,54214,54214,54214
unique,54214,27,54086
top,Oscar et la dame rose (2009),drama,Grammy - music award of the American academy o...
freq,1,13613,12

In [41]:
df.isnull().sum()

Title    0
Genre    0
Plot     0
dtype: int64

In [42]:
df.columns

Index(['Title', 'Genre', 'Plot'], dtype='object')

In [43]:
df.Genre.unique()

array(['drama', 'thriller', 'adult', 'documentary', 'comedy', 'crime',
       'reality-tv', 'horror', 'sport', 'animation', 'action', 'fantasy',
       'short', 'sci-fi', 'music', 'adventure', 'talk-show', 'western',
       'family', 'mystery', 'history', 'news', 'biography', 'romance',
       'game-show', 'musical', 'war'], dtype=object)

In [44]:
import re

# Function to clean text
def clean_text(text):
    text = text.lower()  # Convert to lowercase
    text = re.sub(r"[^\w\s]", "", text)  # Remove punctuation
    text = re.sub(r"\s+", " ", text).strip()  # Remove extra spaces
    return text

# Apply cleaning
df["Plot"] = df["Plot"].apply(clean_text)

# Display cleaned data
df

,Title,Genre,Plot
0,Oscar et la dame rose (2009),drama,listening in to a conversation between his doc...
1,Cupid (1997),thriller,a brother and sister with a past incestuous re...
2,"Young, Wild and Wonderful (1980)",adult,as the bus empties the students for their fiel...
3,The Secret Sin (1915),drama,to help their unemployed father make ends meet...
4,The Unrecovered (2007),drama,the films title refers not only to the unrecov...
...,...,...,...
54209,"""Bonino"" (1953)",comedy,this shortlived nbc live sitcom centered on bo...
54210,Dead Girls Don't Cry (????),horror,the next generation of exploitation the sister...
54211,Ronald Goedemondt: Ze bestaan echt (2008),documentary,ze bestaan echt is a standup comedy about grow...
54212,Make Your Own Bed (1944),comedy,walter and vivian live in the country and have...
54213,Nature's Fury: Storm of the Century (2006),history,on labor day weekend 1935 the most intense hur...

In [45]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Initialize TF-IDF vectorizer
tfidf_vectorizer = TfidfVectorizer(max_features=5000)  # Limit to 5000 features for efficiency

# Transform the plot descriptions into numerical vectors
X = tfidf_vectorizer.fit_transform(df["Plot"])

# Convert genres into labels
y = df["Genre"]

In [46]:
y

0              drama
1           thriller
2              adult
3              drama
4              drama
            ...
54209         comedy
54210         horror
54211    documentary
54212         comedy
54213        history
Name: Genre, Length: 54214, dtype: object

In [47]:
from sklearn.preprocessing import LabelEncoder

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Encode the Genre column
df["Genre_encoded"] = label_encoder.fit_transform(df["Genre"])

# Check the mapping
genre_mapping = dict(zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)))
print("Genre Mapping:", genre_mapping)

# Define X and y
X = df["Plot"]  # Text data (requires NLP techniques)
y = df["Genre_encoded"]  # Encoded labels

Genre Mapping: {'action': 0, 'adult': 1, 'adventure': 2, 'animation': 3, 'biography': 4, 'comedy': 5, 'crime': 6, 'documentary': 7, 'drama': 8, 'family': 9, 'fantasy': 10, 'game-show': 11, 'history': 12, 'horror': 13, 'music': 14, 'musical': 15, 'mystery': 16, 'news': 17, 'reality-tv': 18, 'romance': 19, 'sci-fi': 20, 'short': 21, 'sport': 22, 'talk-show': 23, 'thriller': 24, 'war': 25, 'western': 26}

In [48]:
X

0        listening in to a conversation between his doc...
1        a brother and sister with a past incestuous re...
2        as the bus empties the students for their fiel...
3        to help their unemployed father make ends meet...
4        the films title refers not only to the unrecov...
                               ...
54209    this shortlived nbc live sitcom centered on bo...
54210    the next generation of exploitation the sister...
54211    ze bestaan echt is a standup comedy about grow...
54212    walter and vivian live in the country and have...
54213    on labor day weekend 1935 the most intense hur...
Name: Plot, Length: 54214, dtype: object

In [49]:
y

0         8
1        24
2         1
3         8
4         8
         ..
54209     5
54210    13
54211     7
54212     5
54213    12
Name: Genre_encoded, Length: 54214, dtype: int32

In [50]:
from sklearn.model_selection import train_test_split

# Split the dataset (80% training, 20% testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(f"Training data size: {X_train.shape}")
print(f"Testing data size: {X_test.shape}")

Training data size: (43371,)
Testing data size: (10843,)

In [51]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vectorizer = TfidfVectorizer()
X_train_tfidf = tfidf_vectorizer.fit_transform(X_train)  # Fit on training data
X_test_tfidf = tfidf_vectorizer.transform(X_test)        # Transform test data

In [52]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report

# Initialize and train Naïve Bayes model
nb_model = MultinomialNB()
nb_model.fit(X_train_tfidf, y_train)

# Make predictions
y_pred = nb_model.predict(X_test_tfidf)

# Evaluate the model
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.4448030987734022
Classification Report:
               precision    recall  f1-score   support

           0       0.00      0.00      0.00       263
           1       0.00      0.00      0.00       112
           2       0.00      0.00      0.00       139
           3       0.00      0.00      0.00       104
           4       0.00      0.00      0.00        61
           5       0.67      0.03      0.05      1443
           6       0.00      0.00      0.00       107
           7       0.54      0.90      0.67      2659
           8       0.38      0.89      0.53      2697
           9       0.00      0.00      0.00       150
          10       0.00      0.00      0.00        74
          11       0.00      0.00      0.00        40
          12       0.00      0.00      0.00        45
          13       0.00      0.00      0.00       431
          14       0.00      0.00      0.00       144
          15       0.00      0.00      0.00        50
          16       0.00      0.00      0.00        56
          17       0.00      0.00      0.00        34
          18       0.00      0.00      0.00       192
          19       0.00      0.00      0.00       151
          20       0.00      0.00      0.00       143
          21       0.00      0.00      0.00      1045
          22       0.00      0.00      0.00        93
          23       0.00      0.00      0.00        81
          24       0.00      0.00      0.00       309
          25       0.00      0.00      0.00        20
          26       0.00      0.00      0.00       200

    accuracy                           0.44     10843
   macro avg       0.06      0.07      0.05     10843
weighted avg       0.32      0.44      0.30     10843

c:\users\ramav\appdata\local\programs\python\python37\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\users\ramav\appdata\local\programs\python\python37\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\users\ramav\appdata\local\programs\python\python37\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [55]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

# Initialize and train Logistic Regression model
log_reg = LogisticRegression(max_iter=500)
log_reg.fit(X_train_tfidf, y_train)

# Make predictions
y_pred = log_reg.predict(X_test_tfidf)

# Evaluate the model
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.5859079590519229
Classification Report:
               precision    recall  f1-score   support

           0       0.59      0.22      0.33       263
           1       0.95      0.17      0.29       112
           2       0.45      0.11      0.17       139
           3       0.50      0.01      0.02       104
           4       0.00      0.00      0.00        61
           5       0.53      0.59      0.56      1443
           6       0.33      0.01      0.02       107
           7       0.65      0.88      0.75      2659
           8       0.54      0.80      0.64      2697
           9       0.60      0.06      0.11       150
          10       0.00      0.00      0.00        74
          11       1.00      0.30      0.46        40
          12       0.00      0.00      0.00        45
          13       0.67      0.56      0.61       431
          14       0.67      0.44      0.53       144
          15       0.00      0.00      0.00        50
          16       0.00      0.00      0.00        56
          17       0.00      0.00      0.00        34
          18       0.49      0.16      0.24       192
          19       0.33      0.01      0.01       151
          20       0.52      0.15      0.24       143
          21       0.55      0.32      0.40      1045
          22       0.70      0.17      0.28        93
          23       0.62      0.10      0.17        81
          24       0.43      0.11      0.17       309
          25       0.00      0.00      0.00        20
          26       0.95      0.69      0.80       200

    accuracy                           0.59     10843
   macro avg       0.45      0.22      0.25     10843
weighted avg       0.56      0.59      0.54     10843

c:\users\ramav\appdata\local\programs\python\python37\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\users\ramav\appdata\local\programs\python\python37\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\users\ramav\appdata\local\programs\python\python37\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [56]:
from sklearn.tree import DecisionTreeClassifier

# Initialize and train Decision Tree model
dt_model = DecisionTreeClassifier()
dt_model.fit(X_train_tfidf, y_train)

# Make predictions
y_pred = dt_model.predict(X_test_tfidf)

# Evaluate the model
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.33911279166282393
Classification Report:
               precision    recall  f1-score   support

           0       0.08      0.06      0.07       263
           1       0.13      0.11      0.12       112
           2       0.10      0.09      0.09       139
           3       0.01      0.01      0.01       104
           4       0.00      0.00      0.00        61
           5       0.28      0.30      0.29      1443
           6       0.02      0.02      0.02       107
           7       0.55      0.59      0.57      2659
           8       0.41      0.44      0.42      2697
           9       0.05      0.06      0.06       150
          10       0.07      0.04      0.05        74
          11       0.25      0.17      0.21        40
          12       0.00      0.00      0.00        45
          13       0.17      0.15      0.16       431
          14       0.28      0.22      0.25       144
          15       0.03      0.02      0.02        50
          16       0.00      0.00      0.00        56
          17       0.03      0.03      0.03        34
          18       0.11      0.09      0.10       192
          19       0.06      0.05      0.05       151
          20       0.08      0.06      0.07       143
          21       0.18      0.18      0.18      1045
          22       0.23      0.16      0.19        93
          23       0.21      0.14      0.17        81
          24       0.06      0.05      0.05       309
          25       0.00      0.00      0.00        20
          26       0.45      0.35      0.40       200

    accuracy                           0.34     10843
   macro avg       0.14      0.13      0.13     10843
weighted avg       0.33      0.34      0.33     10843

In [57]:
from sklearn.ensemble import RandomForestClassifier

# Initialize and train Random Forest model
rf_model = RandomForestClassifier(n_estimators=100)
rf_model.fit(X_train_tfidf, y_train)

# Make predictions
y_pred = rf_model.predict(X_test_tfidf)

# Evaluate the model
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.4660149405146177
Classification Report:
               precision    recall  f1-score   support

           0       0.00      0.00      0.00       263
           1       1.00      0.02      0.04       112
           2       0.67      0.03      0.06       139
           3       0.00      0.00      0.00       104
           4       0.00      0.00      0.00        61
           5       0.53      0.19      0.28      1443
           6       0.00      0.00      0.00       107
           7       0.53      0.90      0.67      2659
           8       0.40      0.84      0.54      2697
           9       1.00      0.03      0.05       150
          10       0.00      0.00      0.00        74
          11       1.00      0.12      0.22        40
          12       0.00      0.00      0.00        45
          13       0.90      0.02      0.04       431
          14       1.00      0.05      0.09       144
          15       0.00      0.00      0.00        50
          16       0.00      0.00      0.00        56
          17       0.00      0.00      0.00        34
          18       0.00      0.00      0.00       192
          19       0.00      0.00      0.00       151
          20       0.00      0.00      0.00       143
          21       0.76      0.03      0.05      1045
          22       0.62      0.05      0.10        93
          23       1.00      0.02      0.05        81
          24       0.00      0.00      0.00       309
          25       1.00      0.05      0.10        20
          26       1.00      0.24      0.39       200

    accuracy                           0.47     10843
   macro avg       0.42      0.10      0.10     10843
weighted avg       0.49      0.47      0.35     10843

c:\users\ramav\appdata\local\programs\python\python37\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\users\ramav\appdata\local\programs\python\python37\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\users\ramav\appdata\local\programs\python\python37\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [58]:
def predict_genre(movie_plot):
    # Convert input text to TF-IDF vector
    movie_plot_tfidf = tfidf_vectorizer.transform([movie_plot])
    
    # Predict using trained model
    predicted_genre_encoded = nb_model.predict(movie_plot_tfidf)[0]
    
    # Convert encoded label back to original genre
    predicted_genre = label_encoder.inverse_transform([predicted_genre_encoded])[0]
    
    return predicted_genre

# Example Usage
new_plot = "A young wizard discovers his magical abilities and battles an evil dark lord to save the world."
predicted_genre = predict_genre(new_plot)

print(f"Predicted Genre: {predicted_genre}")

Predicted Genre: drama